<div class="container" >
	<% @invoices.each do |invoice| %>
	<div class="thumbnail">
		Preco Total:
		<%= invoice.total_amount_formatted %>
		<%= tag(:br) %>
		Data:
		<%= invoice.created_at.strftime("%d-%m-%Y") %></td>
		<%= tag(:br) %>
		<%= link_to 'Mostrar PDF', invoice_path(invoice, :format => :pdf), class: 'btn btn-success' %>
	</div>
	<% end %>