<% if logged_in? && !(is_administrator current_user) %>
  <% redirect_home %>
<% end %>

<% provide(:title, 'Sign up') %>
<% if is_administrator current_user %>
  <h1>Cadastro de administrador</h1>
<% else %>
  <h1>Cadastro</h1>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :is_administrator, "É administrador?" %>
      <%= f.check_box :is_administrator %>

      <%= content_tag(:br) %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>