<%= form_tag url_for(:controller => 'ingredients', :action => 'create'), :method => 'post' do %>

  
  <div class="field">
    <%= label_tag "Nome" %>
    <%= text_field_tag :title, "", class: "form-control", id: "xd" %>
  </div>
  <div class="field">
    <%= text_field_tag :desc, "", class: "form-control" %>
  </div>

  <div class="field">
    <%= select_tag 'ingredient_type', options_for_select([ 'pasta','spice','filling','sauce']) %><br>
    
  <div class="actions">
    <%= button_tag "Criar ingrediente" %>
  </div>

<% end %>
