<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @courier.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @courier.phone %>
</p>

<%= link_to 'Edit', edit_courier_path(@courier) %> |
<%= link_to 'Back', couriers_path %>
