<% if !@orders.blank? %>
	<% @orders.each do |order| %>

		<div class="thumbnail">
			Pedido nº: 
			<%= order.id %>
			<%= tag(:br) %>
			Cliente:
			<%= link_to user_path(order.user) do %>
				<%= order.user.name %>
			<% end %> 
			<%= tag (:br) %>
			Produtos:
			<%= tag(:br) %>
			<% order.order_items.each do |order_item| %>
				<%= link_to product_path(order_item.product) do %>
					<%= order_item.product.title %>
					<%= tag(:br) %>
				<% end %>
			<% end %>

			Endereço de entrega: 
			<%= order.shippment_address %>
		<%= button_to 'Excluir',  order,  method: :delete, data: { confirm: 'Tem certeza que deseja excluir o pedido?' }, class: 'btn btn-danger'  %>
		</div>
	<% end %>
<% end %>
