<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- input for title -->
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <!-- input for description -->
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <!-- input for price -->
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: '', separator: ','), step: :any %>
    <%#= f.number_field :price, step: :any %>
  </div>

  <!-- dropdown list for category -->
  <div class="field">
    <%= f.select :category, Product.categories.to_a.map {|w| [w.to_s.humanize, w]} %>
  </div>

  <!-- checkboxes for ingredients -->
  <div class="field">
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :title %>
  </div>

  <!-- submit -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
