<%= content_tag :div, class: "set-image-background-products top" do %>
  <%= content_tag :div, :class => "container" do -%>

    <p id="notice"><%= notice %></p>

    <%= content_tag :div, class: "row" do %>

      <%= render 'search' %>

      <% cont = 0 %>

      <% if @products.size > 0 %>
        <% @products.each do |product| %>
          <%= render "product_row", product: product, order_item: @order_item %>
        <% end %>
      <% else %>
        <%= content_tag :div do %>
          <h2> <%=  "Produto não encontrado" %> </h2>
        <% end %>
      <% end %>

    <% end %>
  <% end -%>
<% end %>