<%= content_tag :div, :class => "container" do -%>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Produto:</strong>
    <%= @product.title %>
  </p>

  <p>
  <!-- The imagem can be sized to big, medium or thumb -->
  <%= image_tag(@product.imageproduct.medium) if @product.imageproduct %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= @product.category.to_s %>
  </p>

  <p>
    <strong>Preço:</strong>
    R$<%= @product.price %>
  </p>

  <p>
    <strong>Ingredientes:</strong>
    <ul>
    <%@product.ingredients.each do |i|%>
        <li><%= i.title %></li>
        <!-- <%= i.price %> -->
    <% end %>
    </ul>
  </p>

  <p>
    <%= link_to 'Editar Produto', edit_product_path(@product), class: "btn btn-warning"%>
  </p>

  <br>

  <div class="star-rating" style= "text-align: center"data-score= <%= @avg_review %> ></div>
  <center><em ><%= "#{@reviews.length} avaliações" %></em></center>

<br>
<br>


<h3>Comentários:</h3>
  <% if @reviews.blank? %>
    <h3>Não temos avaliações. Adoraríamos que você fosse o primeiro!</h3>
    <%= link_to "Avaliar", new_product_review_path(@product), class: "btn btn-primary" %>
  <% else %>

    <% @reviews.each do |review| %>
      <div class="reviews">
        <strong>
          <%= review.user.name %>
        </strong>
         <div class="star-rating" data-score= <%= review.rating %> ></div>
        <p><%= review.comment %></p>
      </div>
     <%= link_to "Avaliar!", review_destroy(@product), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Avaliar!", new_product_review_path(@product), class: "btn btn-primary" %>
  <% end %>


  <script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
  </script>
<% end -%>
