<!DOCTYPE html>
<html>
<head>

	<!-- Layout settings -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">

  <!-- Some CSS -->
  <link href="css/products.css" rel="stylesheet">
  <link href="css/e-boots.css" rel="stylesheet">
  <link href="css/shop-homepage.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Fábrica de Massas do Chef Nery</title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <title>Chefenery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../home">Chef Nery</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <%= link_to 'Sobre', home_about_path %>
                  </li>
                  <li>
                      <%= link_to 'Contato', home_contact_path %>
                  </li>

				  <% if logged_in? && current_order? %>
			         <li><%= render 'layouts/cart_text' %></li>
          <%elsif logged_in? && !current_order? %>
                <li><%= link_to "Criar novo pedido", { :controller => :orders, :action => :create }, :method => :post %></li>
				  <% end %>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Culinária <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                            <%= link_to 'Italiana', products_italian_culinary_path %>
                          </li>
                          <li>
                            <%= link_to 'Oriental', products_oriental_culinary_path %>
                          </li>
                          <li>
                            <%= link_to 'Árabe', products_arabic_culinary_path %>
                          </li>
                          <li>
                            <%= link_to 'Brasileira', products_brazilian_culinary_path %>
                          </li>

                      </ul>
                  </li>
                  <li class="dropdown">
                      <%= render 'layouts/user_logged' %>
                      <ul class="dropdown-menu">
                          <li>
                              <% if logged_in? %>
                                <% if is_administrator current_user %>
                                  <li><%= link_to "Todos Usuários", users_path %></li>
                                  <li><%= link_to "Cadastrar outros usuários", users_new_path %></li>
                                <% end %>
                                <li><%= link_to "Perfil", current_user %></li>
                                <li><%= link_to "Atualizar Perfil", edit_user_path(current_user) %></li>
                                <li><%= link_to "Sair", logout_path, method: "delete" %></li>
			                    <li><%#= render 'layouts/cart_text' %></li>
                                <li><%= link_to "All Users", users_path %></li>
                                <li><%= link_to "Profile", current_user %></li>
                                <li><%= link_to "Update", edit_user_path(current_user) %></li>
                                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                              <% else %>
                                <li><%= link_to "Log in", login_path %></li>
                                <li><%= link_to "Cadastrar", new_user_path %></li>
                              <% end %>
                          </li>
                      </ul>
                  </li>
                  <% if logged_in? && is_administrator(current_user) %>       
                    <li> <%= render "shared/notifications" %> </li>
                    <%= link_to 'Entregadores', couriers_path %>
                  <% end %>
              </ul>
          </div>
      </div>
  </nav>
</head>
<body>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<!-- To FeedBack about status of devise -->
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->

<%= yield %>

</body>
</html>
